[Desktop Entry]
Comment[it]=Interfaccia web per ZDL
Comment=Web UI for ZDL
Exec=zdl --web-ui %U
GenericName[it]=ZigzagDownLoader web-ui
GenericName=ZigzagDownLoader web-ui
Icon=/usr/local/share/zdl/webui/images/zdl.png
MimeType=
Name[it]=ZDL webUI
Name=ZDL webUI
NoDisplay=false
StartupNotify=true
Terminal=true
Categories=Network;WebBrowser;
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
